.container {
  display: grid;
  height: 800px;

  align-content: center;
  justify-content: center;
  grid-template-columns: 130px 130px;
  grid-template-rows: 130px 130px 130px 130px 130px;
}
#title {
  margin-bottom: 50px;
  grid-column: 1 / span 2;
}
#break {
  margin: 20px;
  grid-column: 1 / span 1;
}
#session {
  margin: 20px;
  grid-column: 1 / span 1;
}
#timer {
  margin: 20px;
  grid-column: 1 / span 2;
}
.buttons {
  grid-column: 1 / span 2;
}
